html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: Moriston, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  font-size: 100%;
  font-size: 16pt;
  background-color: #F7FEFF;

}
body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}
#page {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */
}
@media (min-width: 43.75em) {
  #page {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */
  }
}
h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}
@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
}
@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */
  }
}
h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}
@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }
}
@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}
h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */
}
@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
}
@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25;
  }
}
h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}
@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
    /* (22px / 18px */
  }
}
blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */
}
@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */
  }
}
a:hover, a:active {
  color: #F20068;
  text-decoration: none;
}
a, a:visited {
  color: #F20068;
  text-decoration: none;
}
h5 {
  font-size: .9em;
  text-transform: uppercase;
  letter-spacing: .125em;
  font-weight: 700;
  padding-top: 1em;
}

h6 {
  font-size: .7em;
  text-transform: uppercase;
  letter-spacing: .125em;
  font-weight: 300;
  padding-top: 1em;
}
.intro h1 {
  font-size: 2.5em;
  font-weight: 700;
  border-bottom: solid 1.5px #DDE8C5;
  padding-bottom: .06em;
}
.intro h2 {
  font-size: 1.3em;
  line-height: 1.5em;
}

.intro h4 {
  font-size: .8em;
    font-weight: 600;
    padding-bottom: .5em;
}



.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*.carousel-caption {
     right: 15%; 
     left: 0; 
     padding-bottom: 0; 
     text-align: right;
}


.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}*/

header {
  height: 90vh;
}
/*.carousel {
  position: fixed;
  height: 100vh;
  width: 100%;
}
.carousel .item {
  width: 100%;
  height: 100%;
}*/

/*.title {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  text-shadow: 2px 2px #000;
  color: #FFF;
}*/

.container-fluid {
  width: 100%;
  position: relative;
}
.overlay {
  background-color: #F7FEFF;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
#behance-magix {
  padding-top: 30px;
}
@media (min-width: 768px) {
  .project img {
    width: 105%;
    /*        min-height: 100%;
*/
    transition: all 1s ease;
    display: block;
  }
  .project a:hover img {
    width: 108%;
    /*        min-height: 100%;
*/
  }
  .project img:hover {
    width: 108%;
    /*        min-height: 100%;
*/
  }
}
.project img {
  width: 100%;
  height: auto;
}
a.wrapping:hover {
  background-color: #2B2727;
}
a.wrapping {
  background-color: white;
  transition: all .5s linear;
}
.wrapping {
  overflow: hidden;
  /*    height: auto;
*/
}
.project a img {
  mix-blend-mode: multiply;
}
.project a.wrapping {
  text-decoration: none;
  display: block
}
.project h3 {
  font-weight: 800;
  font-size: .5em;
  line-height: 1.5em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .15em;
  left: -50%;
  position: relative;
  border: 1.5px solid #F9FF93;
  padding: 1em;
}
.project h4 {
  font-weight: 100;
  font-size: .5em;
  line-height: 1.7em;
  text-align: center;
  letter-spacing: .05em;
  left: -50%;
  position: relative;
}
.info {
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 25%;
}
.project a h3 {
  color: #F7FEFF;
  opacity: 0;
  transition: all 0.5s ease;
  /* background-color: #E0F7F9; */
  /* background-blend-mode: multiply; */
}
.project a h4 {
  color: #DDE8C5;
  opacity: 0;
  transition: all 0.5s ease;
}
.project a:hover h3 {
  color: #F7FEFF;
  opacity: 1;
}
.project a:hover h4 {
  color: #DDE8C5;
  opacity: 1;
}
.project {
  padding-bottom: 30px;
}
.intro {
  margin-top: 25vh;
}
#dynamic-pages {
  height: 100%;
  display: none;
}
.imagecontainer.large {
  width: 100vw;
  height: 50vh;
  overflow: hidden;
  vertical-align: middle;
  background-color: #A8AD9D;
  mix-blend-mode: multiply;
  position: relative;
}
.imagecontainer img {
  vertical-align: middle;
  min-width: 100%;
  min-height: 120%;
  margin-top: -15%;
  mix-blend-mode: luminosity;
}
.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  opacity: 0.5;
  background-repeat: repeat;
  background-image: url("../images/black-broken-diagonal-lines.png");
  background-color: #A8AD9D;
  background-blend-mode: multiply;
}
.description {
  display: none;
}
.modules {
  padding-bottom: 24px;
}
.mod-image {
  max-width: 100%;
  margin: auto;
  display: block;
}
.embed {
  max-width: 100%;
  overflow: scroll;
}
.video {
  max-width: 100%;
  overflow: scroll;
}
.projectinfo h1 {
  font-size: 1.75em;
  font-weight: 200;
  border-bottom: solid 1.5px #DDE8C5;
  padding-bottom: .1em;
  text-align: center;
  padding-top: 1em;
}
.projectinfo h5 {
  font-size: .6em;
  text-transform: uppercase;
  letter-spacing: .125em;
  font-weight: 700;
  text-align: center;
  padding-bottom: 24px;
}
.text .mod-image {
  display: none;
}
.video img {
  display: none;
}
.embed img {
  display: none;
}
.close-project a {
  display: none;
}
.close-project {
  text-align: center;
  text-transform: uppercase;
  font-size: .7em;
  font-weight: 800;
  letter-spacing: .15em;
  border-top: 3px solid;
  color: #B3BF99;
  padding-top: .5em;
  display: block;
  padding-bottom: 60px;
}
@media (min-width: 768px) {
  .close-project a {
    color: #B3BF99;
    display: block;
  }
  .close-project {
    border-top: 1px solid;
  }
}
.back-to-bottom {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
a#back-to-bottom:hover {
  color: #A8AD9D;
  background-color: transparent;
  border: 0;
}
a#back-to-bottom {
  color: #473F3E;
  font-size: 30px;
}
.btn, :hover, :active, :focus, :visited {
  border: 0;
}