* { box-sizing: border-box; } 




body {
    margin-left: auto;
    margin-right: auto;
        
}

.clear {
  display: block;
  clear:both;
}

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}


/*smallest size*/

[class*='col-'] {
    float: left;
    padding: 0 10px;
    display: block;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 { width: 100%;}


.col:first-child { margin-left: 0; }



headline {
    
    z-index: 50;
    width: 30%;
    margin-top: 0;

}

#graphs {

    width: 100%;
}



headline h1 {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-weight: 100;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-size: 3.5em;
    color: rgba(249, 0, 80, 1);
    text-align: left;
    text-decoration: underline;
    margin-top: 0;
    
}

headline h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    /* font-style: italic; */
    font-size: 0.8em;
    color: rgba(249, 0, 80, .8);
    text-align: left;
    margin-bottom: 12px;
    letter-spacing: 0.01em;
}

headline h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 9px;
    letter-spacing: .2em;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: -9px;
    margin-top: 9px;
    color: #708D91 ;

}

headline p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 9px;
    text-align: right;
    margin-right: 2px;
    padding-top: 2px;
    vertical-align: center;
    color: white ;

}

headline h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 9px;
    text-align: left;
    margin-top: 12px;
    margin-bottom: -3px;
    color: #708D91 ;

}



[id*='bracket'] {
    height: 15px;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: rgba(249, 0, 80, 1);
}


.content {

    height: auto; 

}


.info h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: .2em;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: -12px;
    color: #708D91 ;
        
}

.info p { 
    color: #415557  ;
}

.info {

    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    z-index: 100;
    height: auto;
    margin-top: 3%;
    
} 

   


.imageContainer {
    position: relative;
    margin-bottom: 5%;
}

.imageContainer img {
    position: relative;
    width: 100%;
    max-width: 100%;
    z-index: 1;
}

.overlayContainer {
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
}

.overlayContainerPrice {
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
}


.trans {
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
}
        

 object {
    max-width: 100%;  
    max-height: 100%;    
    opacity: 0;
}

.overlayContainer object:hover, object.hover_effect {
    opacity: 1;
    background: black;
    
}

.overlayContainerPrice object:hover, object.hover_effect {
    opacity: 1;
    
}

.hover {
    -webkit-user-select: none;
    -webkit-touch-callout: none;        
}


@media (min-width: 600px) {

    #graphs {
        width: 75%;
    }

    headline h1 {
        font-size: 5vw;
    }


    .col-1  { width: calc( 100% / 12 * 1 );}
    .col-2  { width: calc( 100% / 12 * 2 );}
    .col-3  { width: calc( 100% / 12 * 3 );}
    .col-4  { width: calc( 100% / 12 * 4 );}
    .col-5  { width: calc( 100% / 12 * 5 );}
    .col-6  { width: calc( 100% / 12 * 6 );}
    .col-7  { width: calc( 100% / 12 * 7 );}
    .col-8  { width: calc( 100% / 12 * 8 );}
    .col-9  { width: calc( 100% / 12 * 9 );}
    .col-10 { width: calc( 100% / 12 * 10 );}
    .col-11 { width: calc( 100% / 12 * 11 );}
    .col-12 { width: calc( 100% / 12 * 12 );}


    /** offsets **/

    .col-offset-1  { margin-left: calc( 100% / 12 * 1 );}
    .col-offset-2  { margin-left: calc( 100% / 12 * 2 );}
    .col-offset-3  { margin-left: calc( 100% / 12 * 3 );}
    .col-offset-4  { margin-left: calc( 100% / 12 * 4 );}
    .col-offset-5  { margin-left: calc( 100% / 12 * 5 );}
    .col-offset-6  { margin-left: calc( 100% / 12 * 6 );}
    .col-offset-7  { margin-left: calc( 100% / 12 * 7 );}
    .col-offset-8  { margin-left: calc( 100% / 12 * 8 );}
    .col-offset-9  { margin-left: calc( 100% / 12 * 9 );}
    .col-offset-10 { margin-left: calc( 100% / 12 * 10 );}
    .col-offset-11 { margin-left: calc( 100% / 12 * 11 );}
    .col-offset-12 { margin-left: calc( 100% / 12 * 12 );}
}
