body {
    margin-left: auto;
    margin-right: auto;
        
}

.clear {
  display: block;
  clear:both;
}

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }



headline {
    
    z-index: 50;
    width: 30%;
    padding-left: 3vw;
    margin-top: 0;

}

#graphs {

    width: 75%;
}



headline h1 {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-weight: 100;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-size: 5vw;
    color: rgba(249, 0, 80, 1);
    text-align: left;
    text-decoration: underline;
    margin-top: 0;
    
}

headline h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    /* font-style: italic; */
    font-size: 1.1vw;
    color: rgba(249, 0, 80, .8);
    text-align: left;
    margin-bottom: 12px;
    letter-spacing: 0.01em;
}

headline h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 9px;
    letter-spacing: .2em;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: -9px;
    margin-top: 9px;
    color: #708D91 ;

}

headline p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 9px;
    text-align: right;
    margin-right: 2px;
    padding-top: 2px;
    vertical-align: center;
    color: white ;

}

headline h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 9px;
    text-align: left;
    margin-top: 12px;
    margin-bottom: -3px;
    color: #708D91 ;

}



/*.bracket {
        height: 15px;
        margin-top: 12px;
        margin-bottom: 12px;
        background-color: rgba(249, 0, 80, 1);


}*/

[id*='bracket'] {
    height: 15px;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: rgba(249, 0, 80, 1);
}






.content {
/*
    margin-left: auto;
    margin-right: auto;
*/

    width: 64%;
    height: auto;
    

}


.info h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: black;
    text-align: left;
    margin-bottom: -12px;
    color: #708D91 ;
        
}

.info p { 
    color: #415557  ;
}

.info {
/*
    display: block;
    float: right;
    margin-right: 36px;
*/
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    z-index: 100;
    width: 25%;
    height: auto;
    
} 

   


.imageContainer {
    width: 75%;
    z-index: -100;
    margin-bottom: 5%;
}

.imageContainer img {
    position: absolute;
    width: auto;
    margin-top: 0;
    z-index: -100;
    height: auto;
  
    
}

/*.overlayContainer {
    position: absolute;
    width: 36vw;

    margin-top: 0;
    z-index: 100;
    
    
}*/

.trans {
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
}
        

 object {
/*    text-align: center;*/
    width: auto;

    
    opacity: 0;
    z-index: -50 !important;
    
    
    
    
}

.overlayContainer object:hover {
    opacity: 1;
    background: black;
    z-index: -50;
    
}

.overlayContainerPrice object:hover {
    opacity: 1;
/*    background: black;
*/    z-index: -50;
    
}






/*@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	
	.imagecontainer {
		width: 100%; 
        z-index: -100;
        height: 70vh;
	}
    
	headline {
		width: 100%;
        font-size: 14vw;
	}
    
    

    .imageContainer img {
        position: absolute;
        width: 90vw;
        margin-left:  auto;
        margin-right:  auto;    
        z-index: -100;
        

    }

    .overlayContainer {
        position: absolute;
        margin-top: 0;
        width: 90vh;
        

    }
    
    object {
        width: 90vw;
        margin-left:  auto;
        margin-right:  auto;

        
    }
    
    .info   {
        width: 100%;
    }
    
    
    
}

*/