
@font-face {
    font-family: 'gt_pressuralight';
    src: url('../fonts/gt-pressura-light-webfont.woff2') format('woff2'),
         url('../fonts/gt-pressura-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gt_pressura_monoregular';
    src: url('../fonts/gt-pressura-mono-regular-webfont.woff2') format('woff2'),
         url('../fonts/gt-pressura-mono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'gt_pressuraregular';
    src: url('../fonts/gt-pressura-regular-webfont.woff2') format('woff2'),
         url('../fonts/gt-pressura-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i');

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');




/* GLOBAL STYLES
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}



body {
  padding-bottom: 40px;
  color: #5a5a5a;
  font-family: "gt_pressuralight", "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h1 {
  font-family: "gt_pressuraregular", "Source Sans Pro", Helvetica, Arial, sans-serif;

}


h2 {
  letter-spacing: .02em;
  font-family: "gt_pressuraregular", "Source Sans Pro", Helvetica, Arial, sans-serif;

}

.btn {
  font-family: "gt_pressura_monoregular", "Source Code Pro", monospace;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.btn-primary {
    color: #000;
    background-color: #e9d514;
    border-color: #ccb212;
}

.btn-primary:hover {
    color: #fff;
    background-color: #e9d514;
    border-color: #ccb212;
}

.btn-default {
    color: #027ec6;
    background-color: #fff;
    border-color: #027ec6;
}

.btn-default:hover {
    color: #fff;
    background-color: #027ec6;
    border-color: #004e7b;
}

.panel-group {
  font-family: "gt_pressura_monoregular", "Source Code Pro", monospace;
}

.panel-default {
  border-color: #027ec6;
}

.panel-default>.panel-heading {
  color: #027ec6;
  background-color: #fff;
  border-color: #027ec6;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 1px solid #027ec6;
}

.list-group-item {
    border: 0;

}

.thumbnail .fa {
    font-size: 7em;
    margin-top: 25px;
    margin-bottom: -10px;
    color: #027ec6;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-default {
  background-color: rgba(255, 255, 255, 0.95);
}


/*Styling Header Jumbotron*/

.hero {
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 106, 167, 0.48);
  color: white;
  padding-top: 7em;
}

.hero p {
  font-size: 2em;
  padding-bottom: 1em;
  line-height: 1.35em;
}

/* Hero jumbotron background with overlays */

.hero:after {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
  background-image: url("../img/shutterstock_374648041_L.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #027ec6;  
  background-blend-mode: soft-light;
}


/* Features in About section */

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-image {
    height: 300px;
    overflow: hidden;
}

.featurette-image img {
  width: 100%;

}

/*Products content div*/

#products {
  color: white;
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 106, 167, 0.48);
}

#products ul {
  padding-bottom: 2em;
}


/*Products jumbotron background with overlays*/

#products:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    background-image: url("../img/shutterstock_156997538_L.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #006aa7;
  background-blend-mode: soft-light;
}

/*Styling thumbnails in products to be centered and spaced*/

.marketing .col-sm-4 {
  margin-bottom: 20px;
  text-align: center;
}

.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.marketing .thumbnail ul {
  display: inline-block;
  text-align: left;
  -webkit-padding-start: 20px;
  padding-bottom: 15px;
}

/*Centering bottom sections*/
#experience {
  text-align: center;
}
#awards {
  text-align: center;
}
#contact {
  text-align: center;
}

/*Styling Awards List*/
#awards ul {
  display: inline-block;
  text-align: center;
  -webkit-padding-start: 0px;
  padding-bottom: 15px;
  list-style: none;
  font-size: 1.2em;
}

#awards li {
  padding-bottom: .5em;
}

#awards em {
  font-weight: bolder;
  font-style: normal;
}


/*Spacing*/

.invisible-divider {
    margin: 80px 0;
    border: 0;
    border-top: 0px solid #eee;
}

.container.marketing {
  padding-top: 62px;
  padding-bottom: 62px;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  background-color: #f5f5f5;
  text-align: center;
}

.footer img {
  margin-top: 30px;
  margin-bottom: 20px;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 120px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  .hero {
    padding-top: 40vh;
  }

  /* making assessments modal 3 cols */

  #collapse1 ul {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    padding-bottom: 1.5em;
  }

  .list-group-item {
    -webkit-column-break-inside: avoid;
    border-bottom: solid .5em transparent;
  }

  .item:before {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }




  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .featurette-heading {
    font-size: 35px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 35px;
  }
}