/** ******************************************** **/
/** ******************************************** **/
/** Design Students: Please Don't Edit this File **/
/** ******************************************** **/
/** ******************************************** **/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.the.outer.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.a.block {
  float: left;
  height: 0;
}

.one.hundred.percent.wide {
  width: 100%;
  padding-bottom: 100%;
}

.fifty.percent.wide {
  width: 50%;
  padding-bottom: 50%;
}

.twenty.five.percent.wide {
  width: 25%;
  padding-bottom: 25%;
}
.twelve.point.five.wide {
  width: 12.5%;
  padding-bottom: 12.5%;
}


.block img {
  width: 100%;
  height: auto;
  display: block;
}
