* { box-sizing: border-box; } 

.container {

	margin-left: auto;
	margin-right: auto;
}

/** columns **/

[class*='col-'] {
	float: left;
	padding-left: .75em;
	padding-right: .75em;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 { width: 100%;}


body {
	margin: 0px;

}

.hello {
	margin-top: 100%;
	padding-right: 1px;
}


/** media query **/
@media screen and (max-width: 600px) {
	
h4{
  font-family: "Playfair Display";
  font-style: 700;
  font-size: 40px;
  color: white;
  margin-left: 0.5px;
  width: 100%;
  padding-top: 300px;
  padding-bottom: 300px; 
}
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
}
.intro{
  width: 80%;
  font-family: "Playfair Display";
  font-size: 5em;
  color: white;
  position: absolute;
  top: 30%;
  margin-left: 10%;
}
.jumbotron {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    margin-bottom: 0em;
    width: 100%;
    left: 0;
}
.imageone{
  background-image: url(img/zemoria1.jpg);
  padding-top: 10em;
  padding-bottom: 100px;
}
.mega {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 55vh;
    width: 80px;
    margin-top: 300px;

}
.image1{
   background-image: url('img/steven.gif');

}
.black{
  color: black;
  width: 90%;
  top: 100%;
  margin-left: 0.5px;

 }
.black2{
  color: black; 
  font-weight: 900;
  font-size: 18px;
  margin-top: 300px;

}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.image-wrapper img {
  background-color: #af94c6;
  width: 100%;
  box-sizing: border-box;
}

.image-wrapper:hover img{
  mix-blend-mode: luminosity;
  background-color: #af94c6;
}
.image-wrapper {
  background-color: #af94c6;
  position: relative;
  height: 120px;
}

.info {
  font-family: "Lato";
  font-style: 300;
  font-size: 1em;
  color:white;
  padding bottom: 50em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.image-wrapper:hover .info{
  opacity: 1;


}
	.col-1  { width: calc( 100% / 9 * 1 );}
	.col-2  { width: calc( 100% / 9 * 2 );}
	.col-3  { width: calc( 100% / 9 * 3 );}
	.col-4  { width: calc( 100% / 9 * 4 );}
	.col-5  { width: calc( 100% / 9 * 5 );}
	.col-6  { width: calc( 100% / 9 * 6 );}
	.col-7  { width: calc( 100% / 9 * 7 );}
	.col-8  { width: calc( 100% / 9 * 8 );}
	.col-9  { width: calc( 100% / 9 * 9 );}
	.col-10 { width: calc( 100% / 9 * 9 );}
	.col-11 { width: calc( 100% / 9 * 9 );}
	.col-12 { width: calc( 100% / 9 * 9 );}


	/** offsets **/

	.col-offset-1  { margin-left: calc( 100% / 12 * 1 );}
	.col-offset-2  { margin-left: calc( 100% / 12 * 2 );}
	.col-offset-3  { margin-left: calc( 100% / 12 * 3 );}
	.col-offset-4  { margin-left: calc( 100% / 12 * 4 );}
	.col-offset-5  { margin-left: calc( 100% / 12 * 5 );}
	.col-offset-6  { margin-left: calc( 100% / 12 * 6 );}
	.col-offset-7  { margin-left: calc( 100% / 12 * 7 );}
	.col-offset-8  { margin-left: calc( 100% / 12 * 8 );}
	.col-offset-9  { margin-left: calc( 100% / 12 * 9 );}
	.col-offset-10 { margin-left: calc( 100% / 12 * 10 );}
	.col-offset-11 { margin-left: calc( 100% / 12 * 11 );}
	.col-offset-12 { margin-left: calc( 100% / 12 * 12 );}
	


	.row {
		margin-left: -.75em;
		margin-right: -.75em;
	}

	.cf::after,
	.clearfix.after,
	.row::after {
		content: ' ' ;
		display: table;
		clear:both;
	}	
	
	.container {

	margin-left: auto;
	margin-right: auto;
	width: 90%;

	}
}



@media (min-width: 600px) {
	



	.col-1  { width: calc( 100% / 9 * 1 );}
	.col-2  { width: calc( 100% / 9 * 2 );}
	.col-3  { width: calc( 100% / 9 * 3 );}
	.col-4  { width: calc( 100% / 9 * 4 );}
	.col-5  { width: calc( 100% / 9 * 5 );}
	.col-6  { width: calc( 100% / 9 * 6 );}
	.col-7  { width: calc( 100% / 9 * 7 );}
	.col-8  { width: calc( 100% / 9 * 8 );}
	.col-9  { width: calc( 100% / 9 * 9 );}
	.col-10 { width: calc( 100% / 9 * 9 );}
	.col-11 { width: calc( 100% / 9 * 9 );}
	.col-12 { width: calc( 100% / 9 * 9 );}


	/** offsets **/

	.col-offset-1  { margin-left: calc( 100% / 12 * 1 );}
	.col-offset-2  { margin-left: calc( 100% / 12 * 2 );}
	.col-offset-3  { margin-left: calc( 100% / 12 * 3 );}
	.col-offset-4  { margin-left: calc( 100% / 12 * 4 );}
	.col-offset-5  { margin-left: calc( 100% / 12 * 5 );}
	.col-offset-6  { margin-left: calc( 100% / 12 * 6 );}
	.col-offset-7  { margin-left: calc( 100% / 12 * 7 );}
	.col-offset-8  { margin-left: calc( 100% / 12 * 8 );}
	.col-offset-9  { margin-left: calc( 100% / 12 * 9 );}
	.col-offset-10 { margin-left: calc( 100% / 12 * 10 );}
	.col-offset-11 { margin-left: calc( 100% / 12 * 11 );}
	.col-offset-12 { margin-left: calc( 100% / 12 * 12 );}
	


	.row {
		margin-left: -.75em;
		margin-right: -.75em;
	}

	.cf::after,
	.clearfix.after,
	.row::after {
		content: ' ' ;
		display: table;
		clear:both;
	}	
	
	.container {

	margin-left: auto;
	margin-right: auto;
	width: 90%;

	}
}



@media (min-width: 900px) {
	

	.col-1  { width: calc( 100% / 12 * 1 );}
	.col-2  { width: calc( 100% / 12 * 2 );}
	.col-3  { width: calc( 100% / 12 * 3 );}
	.col-4  { width: calc( 100% / 12 * 4 );}
	.col-5  { width: calc( 100% / 12 * 5 );}
	.col-6  { width: calc( 100% / 12 * 6 );}
	.col-7  { width: calc( 100% / 12 * 7 );}
	.col-8  { width: calc( 100% / 12 * 8 );}
	.col-9  { width: calc( 100% / 12 * 9 );}
	.col-10 { width: calc( 100% / 12 * 10 );}
	.col-11 { width: calc( 100% / 12 * 11 );}
	.col-12 { width: calc( 100% / 12 * 12 );}


	/** offsets **/

	.col-offset-1  { margin-left: calc( 100% / 12 * 1 );}
	.col-offset-2  { margin-left: calc( 100% / 12 * 2 );}
	.col-offset-3  { margin-left: calc( 100% / 12 * 3 );}
	.col-offset-4  { margin-left: calc( 100% / 12 * 4 );}
	.col-offset-5  { margin-left: calc( 100% / 12 * 5 );}
	.col-offset-6  { margin-left: calc( 100% / 12 * 6 );}
	.col-offset-7  { margin-left: calc( 100% / 12 * 7 );}
	.col-offset-8  { margin-left: calc( 100% / 12 * 8 );}
	.col-offset-9  { margin-left: calc( 100% / 12 * 9 );}
	.col-offset-10 { margin-left: calc( 100% / 12 * 10 );}
	.col-offset-11 { margin-left: calc( 100% / 12 * 11 );}
	.col-offset-12 { margin-left: calc( 100% / 12 * 12 );}


.hello {
	margin-top: inherit;
}



}














