/** ******************************************** **/
/** ******************************************** **/
/** Design Students: Please Don't Edit this File **/
/** ******************************************** **/
/** ******************************************** **/


@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic);


.jumbotron {
    background-image: url(safarientrance.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    height: 90vh;
    margin: 0;
    position: absolute;
    width: 100%;
    left: 0;
}


body {
  font-family: 'Lato', georgia, serif;
  font-weight: 300;
  padding-bottom: 5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', helvetica, arial, sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 3em;
  font-weight:100;
}

article {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}

article header {
  margin-bottom: 3rem;
  position: relative;
}

header p {
  position: relative;
  bottom: 2.1em;
  text-align: left;
  font-size: .9em;
  font-weight: bold;
  letter-spacing: .05em;
}

@media (min-width: 900px) {

  header p {
    position: absolute;
    margin-left: calc( 100% / 12 * 9 );}
}


article section h2 {
  margin-top: 0;
}

blockquote {
  font-style: italic;
  font-size: .9em;
  float: left;
  line-height: 1.5em;
}

blockquote p {
  text-indent: 0;
  font-size: 80%;
  margin-bottom: 0;
}

blockquote p + p {
  margin: 0;
}
section blockquote {
  font-size: 1em;
  border-left: .25em solid;
  margin-left: 1em;
  margin-right: 2em;
  padding-left: 1em;
}

* { box-sizing: border-box; } 



header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 3px solid;
  background-color: white;
}

header nav ul li {
  border-bottom: 1px solid;
  padding: 1em;
}

/** columns **/

[class*='col-'] {
  float: left;
  padding-left: .75em;
  padding-right: .75em;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 { width: 100%;}


body {
  margin: 0px;

}



/** media query **/

@media (min-width: 600px) {

  header nav ul {
    border-bottom: 1px solid;
  }

  header nav ul li {
    display: inline-block;
    border-bottom: none;
  }


  .col-1  { width: calc( 100% / 9 * 1 );}
  .col-2  { width: calc( 100% / 9 * 2 );}
  .col-3  { width: calc( 100% / 9 * 3 );}
  .col-4  { width: calc( 100% / 9 * 4 );}
  .col-5  { width: calc( 100% / 9 * 5 );}
  .col-6  { width: calc( 100% / 9 * 6 );}
  .col-7  { width: calc( 100% / 9 * 7 );}
  .col-8  { width: calc( 100% / 9 * 8 );}
  .col-9  { width: calc( 100% / 9 * 9 );}
  .col-10 { width: calc( 100% / 9 * 9 );}
  .col-11 { width: calc( 100% / 9 * 9 );}
  .col-12 { width: calc( 100% / 9 * 9 );}


  /** offsets **/

  .col-offset-1  { margin-left: calc( 100% / 9 * 1 );}
  .col-offset-2  { margin-left: calc( 100% / 9 * 2 );}
  .col-offset-3  { margin-left: calc( 100% / 9 * 3 );}
  .col-offset-4  { margin-left: calc( 100% / 9 * 4 );}
  .col-offset-5  { margin-left: calc( 100% / 9 * 5 );}
  .col-offset-6  { margin-left: calc( 100% / 9 * 6 );}
  .col-offset-7  { margin-left: calc( 100% / 9 * 7 );}
  .col-offset-8  { margin-left: calc( 100% / 9 * 8 );}
  .col-offset-9  { margin-left: calc( 100% / 9 * 9 );}
  .col-offset-10 { margin-left: calc( 100% / 9 * 9 );}
  .col-offset-11 { margin-left: calc( 100% / 9 * 9 );}
  .col-offset-12 { margin-left: calc( 100% / 9 * 9 );}
  


  .row {
    margin-left: -.75em;
    margin-right: -.75em;
  }

  .cf::after,
  .clearfix.after,
  .row::after {
    content: ' ' ;
    display: table;
    clear:both;
  } 
  
  .container {

  margin-left: auto;
  margin-right: auto;
  width: 90%;

  }
}



@media (min-width: 900px) {


  .col-1  { width: calc( 100% / 12 * 1 );}
  .col-2  { width: calc( 100% / 12 * 2 );}
  .col-3  { width: calc( 100% / 12 * 3 );}
  .col-4  { width: calc( 100% / 12 * 4 );}
  .col-5  { width: calc( 100% / 12 * 5 );}
  .col-6  { width: calc( 100% / 12 * 6 );}
  .col-7  { width: calc( 100% / 12 * 7 );}
  .col-8  { width: calc( 100% / 12 * 8 );}
  .col-9  { width: calc( 100% / 12 * 9 );}
  .col-10 { width: calc( 100% / 12 * 10 );}
  .col-11 { width: calc( 100% / 12 * 11 );}
  .col-12 { width: calc( 100% / 12 * 12 );}


  /** offsets **/

  .col-offset-1  { margin-left: calc( 100% / 12 * 1 );}
  .col-offset-2  { margin-left: calc( 100% / 12 * 2 );}
  .col-offset-3  { margin-left: calc( 100% / 12 * 3 );}
  .col-offset-4  { margin-left: calc( 100% / 12 * 4 );}
  .col-offset-5  { margin-left: calc( 100% / 12 * 5 );}
  .col-offset-6  { margin-left: calc( 100% / 12 * 6 );}
  .col-offset-7  { margin-left: calc( 100% / 12 * 7 );}
  .col-offset-8  { margin-left: calc( 100% / 12 * 8 );}
  .col-offset-9  { margin-left: calc( 100% / 12 * 9 );}
  .col-offset-10 { margin-left: calc( 100% / 12 * 10 );}
  .col-offset-11 { margin-left: calc( 100% / 12 * 11 );}
  .col-offset-12 { margin-left: calc( 100% / 12 * 12 );}


}















