
* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

a {text-decoration: none;}

body {

}



header {
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-family: "league-gothic",sans-serif;
  text-transform: uppercase;
  font-style: italic;
  font-size: 8em;
  padding-bottom: -3px;
  border-bottom-width: .1em;
  border-bottom-style: solid;
  border-bottom-color: black;
  line-height: .9em;
  display: inline-block;
  }

h2 {
  font-family: "Playfair Display",serif;
  font-weight: 400;
  font-size: 1.25em;
  margin-top: 2em;
  }

.background {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin: 0;
}

#yellow {
    background-image: url(/off-register/img/printingpressyel.gif);
    z-index: -10;

}

#magenta {
    background-image: url(/off-register/img/printingpressmag.gif);
    z-index: -9;


}

#cyan {
    background-image: url(/off-register/img/printingpresscyan.gif);
    z-index: -8;

}

#black {
    background-image: url(/off-register/img/printingpressblack.gif);
    z-index: -7;

}

#whitebox {
  background-color: white;
  padding: 4em;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  color: white;
  z-index: -6;
}

#yellowbox {
  padding: 4em;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  color: yellow;
  opacity: 0.8;  
  border-width: 21px;
  border-style: solid;
  border-image: url(http://sallymaier.github.io/off-register/img/cropborderyellow.png) 33% stretch;  
  z-index: -5;

}

#yellowbox h1 {
    border-bottom-color: yellow;

}

#cyanbox {
  padding: 4em;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  color: aqua;
  opacity: 0.4;  
  border-width: 21px;
  border-style: solid;
  border-image: url(http://sallymaier.github.io/off-register/img/cropbordercyan.png) 33% stretch;  
  z-index: -4;

}

#cyanbox h1 {
    border-bottom-color: aqua;

}

#magbox {
  padding: 4em;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  color: fuchsia;
  opacity: 0.5;  
  border-width: 21px;
  border-style: solid;
  border-image: url(http://sallymaier.github.io/off-register/img/cropbordermag.png) 33% stretch;  
  z-index: -3;

}

#magbox h1 {
    border-bottom-color: fuchsia;

}

#blackbox {
  padding: 4em;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  color: black;
  border-width: 21px;
  border-style: solid;
  border-image: url(http://sallymaier.github.io/off-register/img/cropborderblack.png) 33% stretch;  
  z-index: -2;

}

#blackbox h1 {
    border-bottom-color: black;

}
