
* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

a {text-decoration: none;}

body {
  margin-left: 3em;
  margin-right: 3em;
}



header {
	text-align: center;
  margin-top: 3em;
}

h1 {
  font-family: "league-gothic",sans-serif;
  text-transform: uppercase;
  font-style: italic;
  font-size: 8em;
  padding-bottom: -3px;
  border-bottom-width: .1em;
  border-bottom-style: solid;
  border-bottom-color: black;
  line-height: .9em;
  display: inline-block;
  }

h2 {
  font-family: "Playfair Display",serif;
  font-weight: 400;
  font-size: 1.25em;
  margin-top: 2em;
  }

.background {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    height: 100vh;
    margin:0;
}

#yellow {
    background-image: url(img/printingpressyel.gif);
    background-position: top top;

}

#magenta {
    background-image: url(img/printingpressmag.gif);
    background-position: top top;

}

#cyan {
    background-image: url(img/printingpresscyan.gif);
    background-position: top top;

}

#black {
    background-image: url(img/printingpressblack.gif);
    background-position: top top;

}

