
* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

a {text-decoration: none;}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

header {
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-family: "league-gothic",sans-serif;
  text-transform: uppercase;
  font-style: italic;
  font-size: 7rem;
  padding-bottom: -.25rem;
  border-bottom-width: 1rem;
  border-bottom-style: solid;
  border-bottom-color: black;
  line-height: 6rem;
  display: inline-block;
  }

h2 {
  font-family: "Playfair Display",serif;
  font-weight: 400;
  font-size: 1.383rem;
  margin-top: 1rem;
  }

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.background {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;

}

#bgimages {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin: 0;
}

#yellow {
    background-image: url(/off-register/img/printingpressyel.gif);
    z-index: -10;

}

#magenta {
    background-image: url(/off-register/img/printingpressmag.gif);
    z-index: -9;


}

#cyan {
    background-image: url(/off-register/img/printingpresscyan.gif);
    z-index: -8;

}

#black {
    background-image: url(/off-register/img/printingpressblack.gif);
    z-index: -7;

}

#yellowbox {
  color: yellow;
  opacity: 0.9;  
  border-width: 21px;
  border-style: solid;
  border-image: url(http://sallymaier.github.io/off-register/img/cropborderyellow.png) 33% stretch;  
  z-index: -5;

}

#yellowbox h1 {
    border-bottom-color: yellow;

}

#cyanbox {
  color: aqua;
  opacity: 0.4;  
  border-width: 21px;
  border-style: solid;
  border-image: url(http://sallymaier.github.io/off-register/img/cropbordercyan.png) 33% stretch;  
  z-index: -4;
}

#cyanbox h1 {
    border-bottom-color: aqua;
}

#magbox {
  color: fuchsia;
  opacity: 0.5;  
  border-width: 21px;
  border-style: solid;
  border-image: url(http://sallymaier.github.io/off-register/img/cropbordermag.png) 33% stretch;  
  z-index: -3;
}

#magbox h1 {
    border-bottom-color: fuchsia;
}

#blackbox {
  color: black;
  border-width: 21px;
  border-style: solid;
  border-image: url(http://sallymaier.github.io/off-register/img/cropborderblack.png) 33% stretch;  
  z-index: -2;
}

#blackbox h1 {
    border-bottom-color: black;
}

.box {
  position: absolute;
  padding: 2rem;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

#whitebox {
  background-color: white;
  color: white; 
  z-index: -6;
}


@media (min-width: 320px) {

  .box {
    width: 81.8181%;
    }

  #whitebox {
    width: calc(81.8181% - 42px);
    }

  html{
  font-size: 8.5px;
  }

}

@media (min-width: 480px) {

  .box {
    width: 81.8181%;
    }

  #whitebox {
    width: calc(81.8181% - 42px);
    }

  html{
  font-size: 12px;
  }

}


@media (min-width: 768px) {

  .box {
    width: 63.6363%;
    }

  #whitebox {
    width: calc(63.6363% - 42px);
    }

  html{
  font-size: 15px;
  }

}

@media (min-width: 1024px) {

  .box {
    width: 45.4545%;
    }

  #whitebox {
    width: calc(45.4545% - 42px);
    }

}

  /* Column Widths */
  /*=========================================*/
  /*=========================================*/

  [class*="col-"] {
    float: left;
    padding-left: 12px;
    padding-right: 12px;
  }

  .col-1  { width: calc(100% / 11 * 1);}
  .col-2  { width: calc(100% / 11 * 2);}
  .col-3  { width: calc(100% / 11 * 3);}
  .col-4  { width: calc(100% / 11 * 4);}
  .col-5  { width: calc(100% / 11 * 5);}
  .col-6  { width: calc(100% / 11 * 6);}
  .col-7  { width: calc(100% / 11 * 7);}
  .col-8  { width: calc(100% / 11 * 8);}
  .col-9  { width: calc(100% / 11 * 9);}
  .col-10 { width: calc(100% / 11 * 10);}
  .col-11 { width: calc(100% / 11 * 11);}

  /* 3. Offsets */
  /*=========================================*/
  /*=========================================*/

  .coloffset-1  { margin-left: calc(100% / 11 * 1);}
  .coloffset-2  { margin-left: calc(100% / 11 * 2);}
  .coloffset-3  { margin-left: calc(100% / 11 * 3);}
  .coloffset-4  { margin-left: calc(100% / 11 * 4);}
  .coloffset-5  { margin-left: calc(100% / 11 * 5);}
  .coloffset-6  { margin-left: calc(100% / 11 * 6);}
  .coloffset-7  { margin-left: calc(100% / 11 * 7);}
  .coloffset-8  { margin-left: calc(100% / 11 * 8);}
  .coloffset-9  { margin-left: calc(100% / 11 * 9);}
  .coloffset-10 { margin-left: calc(100% / 11 * 10);}
  .coloffset-11 { margin-left: calc(100% / 11 * 11);}
