
* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

a {text-decoration: none;}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

header {
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -10;
}

h1 {
  font-family: "league-gothic",sans-serif;
  text-transform: uppercase;
  font-style: italic;
  font-size: 5.833rem;
  padding-bottom: -.25rem;
  border-bottom-width: 1rem;
  border-bottom-style: solid;
  border-bottom-color: black;
  line-height: 6rem;
  display: inline-block;
  }

h2 {
  font-family: "Playfair Display",serif;
  font-weight: 400;
  font-size: 1.386rem;
  margin-top: 1rem;
  }

h3 {
  font-family: "Playfair Display",serif;
  font-weight: 700;
  font-size: 1.333em;
  margin-top: 1rem;
  margin-bottom: .5em;
  font-style: italic;
  }

p {
  font-family: "museo-sans",sans-serif;
  font-style: normal;
  font-weight: 300;

}

article {
  line-height: 1.386em;

}

h6 {
  font-family: "museo-sans",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.422em;
  text-transform: uppercase;
  letter-spacing: .1em;
  text-align: center;
}

.posrel {
  position: relative;
  padding-bottom: 3em !important; 
}

.absolute {
  position: absolute;
  margin-left: 1em;
}

.textcyan {
  color: aqua;
  opacity: .8;
}

.textmag {
  color: fuchsia;
  opacity: .9;
}

.textyel {
  color: yellow;
  opacity: 1;
}

.background {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100%;
}

#bgimages {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin: 0;
}

.yellow {
    z-index: 1;
}

#yellow {
    background-image: url(/off-register/img/printingpressyel.gif);

}

.magenta {
    z-index: 2;
}

#magenta {
    background-image: url(/off-register/img/printingpressmag.gif);
}

.cyan {
    z-index: 3;
}

#cyan {
    background-image: url(/off-register/img/printingpresscyan.gif);
}

.black {
    z-index: 4;
}

#black {
    background-image: url(/off-register/img/printingpressblack.gif);
}

#yellowcontainer {
  z-index: 5;
}

#yellowbox {
  color: yellow;
  opacity: 0.9;  
  border-width: 21px;
  border-style: solid;
  border-image: url(http://sallymaier.github.io/off-register/img/cropborderyellow.png) 33% stretch;  

}

#yellowbox h1 {
    border-bottom-color: yellow;

}

#cyancontainer {
  z-index: 6;
}

#cyanbox {
  color: aqua;
  opacity: 0.4;  
  border-width: 21px;
  border-style: solid;
  border-image: url(http://sallymaier.github.io/off-register/img/cropbordercyan.png) 33% stretch;  
}

#cyanbox h1 {
    border-bottom-color: aqua;
}

#magcontainer {
  z-index: 7;
}

#magbox {
  color: fuchsia;
  opacity: 0.5;  
  border-width: 21px;
  border-style: solid;
  border-image: url(http://sallymaier.github.io/off-register/img/cropbordermag.png) 33% stretch;  
}

#magbox h1 {
    border-bottom-color: fuchsia;
}

#blackcontainer {
  z-index: 8;
}

#blackbox {
  color: black;
  border-width: 21px;
  border-style: solid;
  border-image: url(http://sallymaier.github.io/off-register/img/cropborderblack.png) 33% stretch;  
}

#blackbox h1 {
    border-bottom-color: black;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.innerbox {
    padding: 2rem;
}

#whitecontainer {
  position: absolute;
  padding: 2rem;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-color: white;
  color: white; 
  z-index: 4;

}

.whitebackground {
  background-color: white;
  padding-top: 1em;
}

.infinate { 
  width: 100%
}

.infinate img { 
  width: 100%; 
}

@media (min-width: 320px) {

  .container {
    width: 81.8181%;
    }

  #whitecontainer {
    width: calc(81.8181% - 42px);
    }

  html{
  font-size: 12px;
  }

}

@media (min-width: 480px) {

  .container {
    width: 81.8181%;
    }

  #whitecontainer {
    width: calc(81.8181% - 42px);
    }

  html{
  font-size: 15px;
  }

}


@media (min-width: 768px) {

  .container {
    width: 63.6363%;
    }

  #whitecontainer {
    width: calc(63.6363% - 42px);
    }

  html{
  font-size: 16px;
  }

  /* Column Widths */
  /*=========================================*/
  /*=========================================*/

  [class*="col-"] {
    float: left;
    padding-left: 12px;
    padding-right: 12px;
  }

  .col-1  { width: calc(100% / 11 * 1);}
  .col-2  { width: calc(100% / 11 * 2);}
  .col-3  { width: calc(100% / 11 * 3);}
  .col-4  { width: calc(100% / 11 * 4);}
  .col-5  { width: calc(100% / 11 * 5);}
  .col-6  { width: calc(100% / 11 * 6);}
  .col-7  { width: calc(100% / 11 * 7);}
  .col-8  { width: calc(100% / 11 * 8);}
  .col-9  { width: calc(100% / 11 * 9);}
  .col-10 { width: calc(100% / 11 * 10);}
  .col-11 { width: calc(100% / 11 * 11);}

  /* 3. Offsets */
  /*=========================================*/
  /*=========================================*/

  .coloffset-1  { margin-left: calc(100% / 11 * 1);}
  .coloffset-2  { margin-left: calc(100% / 11 * 2);}
  .coloffset-3  { margin-left: calc(100% / 11 * 3);}
  .coloffset-4  { margin-left: calc(100% / 11 * 4);}
  .coloffset-5  { margin-left: calc(100% / 11 * 5);}
  .coloffset-6  { margin-left: calc(100% / 11 * 6);}
  .coloffset-7  { margin-left: calc(100% / 11 * 7);}
  .coloffset-8  { margin-left: calc(100% / 11 * 8);}
  .coloffset-9  { margin-left: calc(100% / 11 * 9);}
  .coloffset-10 { margin-left: calc(100% / 11 * 10);}
  .coloffset-11 { margin-left: calc(100% / 11 * 11);}


}

@media (min-width: 1024px) {

  html{
  font-size: 18px;
  }

  .container {
    width: 45.4545%;
    }

  #whitecontainer {
    width: calc(45.4545% - 42px);
    }

  /* Column Widths */
  /*=========================================*/
  /*=========================================*/

  [class*="col-"] {
    float: left;
    padding-left: 12px;
    padding-right: 12px;
  }

  .col-1  { width: calc(100% / 11 * 1);}
  .col-2  { width: calc(100% / 11 * 2);}
  .col-3  { width: calc(100% / 11 * 3);}
  .col-4  { width: calc(100% / 11 * 4);}
  .col-5  { width: calc(100% / 11 * 5);}
  .col-6  { width: calc(100% / 11 * 6);}
  .col-7  { width: calc(100% / 11 * 7);}
  .col-8  { width: calc(100% / 11 * 8);}
  .col-9  { width: calc(100% / 11 * 9);}
  .col-10 { width: calc(100% / 11 * 10);}
  .col-11 { width: calc(100% / 11 * 11);}

  /* 3. Offsets */
  /*=========================================*/
  /*=========================================*/

  .coloffset-1  { margin-left: calc(100% / 11 * 1);}
  .coloffset-2  { margin-left: calc(100% / 11 * 2);}
  .coloffset-3  { margin-left: calc(100% / 11 * 3);}
  .coloffset-4  { margin-left: calc(100% / 11 * 4);}
  .coloffset-5  { margin-left: calc(100% / 11 * 5);}
  .coloffset-6  { margin-left: calc(100% / 11 * 6);}
  .coloffset-7  { margin-left: calc(100% / 11 * 7);}
  .coloffset-8  { margin-left: calc(100% / 11 * 8);}
  .coloffset-9  { margin-left: calc(100% / 11 * 9);}
  .coloffset-10 { margin-left: calc(100% / 11 * 10);}
  .coloffset-11 { margin-left: calc(100% / 11 * 11);}

  .row {
    margin-left: -.75em;
    margin-right: -.75em;
    padding-bottom: 2em;
  }

  .cf::after,
  .clearfix.after,
  .row::after {
    content: ' ' ;
    display: table;
    clear:both;
  }

}

}
