
<!doctype html>

<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en" id="home"> <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
    <title>The Office of Kristian Bj&oslash;rnard &bull; {{ page.title }}</title>
    <meta name="description" content="">
    <meta name="author" content="">
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">

    <link href="http://www.ookb.co/css/bootstrap.css" rel="stylesheet">
    <link href="http://www.ookb.co/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" >
    <link href="http://www.ookb.co/css/bootstrap-responsive.css" rel="stylesheet">
  
    <link rel="stylesheet" href="http://www.ookb.co/css/newookb.css">
    
    <script src="http://www.ookb.co/js/libs/modernizr.custom.88735.js"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  
  </head>
  
  <body class="notes">
  
    <!-- Nav!
    ================================================== -->
    <nav class="navbar navbar-fixed-top">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      
      <a id="logo" class="brand" href="http://www.ookb.co/"><img src="http://www.ookb.co/img/ookblogo.png" /></a>
      
      <div class="nav-collapse collapse pull-right">
        <ul class="nav">
          <li><a href="http://www.ookb.co/#work">Work</a></li>
          <li><a href="http://notes.ookb.co/">Notes</a></li>
          <li><a href="http://library.ookb.co/">Library</a></li>
          <li><a href="mailto:kb@ookb.co">Contact</a></li>
          <li><a href="http://kristian.bjornard.com">Archive</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </nav>
    
    <div id="main" role="main" class="container">
      <div class="row">
      
        {{ content }}
  
      </div>
    </div>

    <footer class="container">
      <div class="row">
        <p class="span3">&copy; 2003&ndash;2013 Kristian Bj&oslash;rnard</p>
        <p class="span3">All content on this site (unless otherwise noted) is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.</p>
        <p class="span3 referencelinks">
          <a href="http://www.thesustainabilitist.com">The Sustainabilitist</a><br />
          &mdash;<br />
          <a href="http://dribbble.com/bjornmeansbear">dribbble.com/bjornmeansbear</a><br />
          <a href="http://flickr.com/photos/bjornmeansbear/">flickr.com/photos/bjornmeansbear</a><br>
          <a href="https://github.com/bjornmeansbear/">github.com/bjornmeansbear</a><br>
          <a href="http://instagram.com/bjornmeansbear/">instagram.com/bjornmeansbear</a><br>
          <a href="http://issuu.com/bjornmeansbear">issuu.com/bjornmeansbear</a><br>
<!--             <a href="http://www.linkedin.com/in/kristianbjornard">LinkedIn</a><br /> -->
          <a href="http://pinterest.com/bjornmeansbear/">pinterest.com/bjornmeansbear</a><br>
<!--             <a href="http://www.plaxo.com/profile/show/244813743987?pk=8d942140084a9fd7d7af9648f0bbac86349bfe96&src=ab">Plaxo</a><br /> -->
          <a href="http://twitter.com/bjornmeansbear/">twitter.com/bjornmeansbear</a><br>
          <a href="https://vimeo.com/bjornmeansbear">vimeo.com/bjornmeansbear</a>
        </p>
        <p class="span3">
          Kristian Bj&oslash;rnard <br/> 
          Designer / Thinker / Sustainabilitist <br/>
          (507) 301-8402 <br/>
          kb@ookb.co <br/>
        </p>
      </div>
    </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://www.ookb.co/js/jquery-1.9.1.js"></script>
    <script src="http://www.ookb.co/js/ui/jquery-ui.js"></script>
    <script src="http://www.ookb.co/js/ui/jquery.ui.draggable.js"></script>
    <script src="http://www.ookb.co/js/bootstrap.js"></script>
    <script src="http://www.ookb.co/js/jquery.cycle.all.js"></script>
    <script src="http://www.ookb.co/js/jquery.masonry.js"></script>
    <script src="http://www.ookb.co/js/newookb.js"></script>

    <!-- CUSTOM JS CAN GO IN HERE -->
    <script>
    </script>
    <!-- end scripts-->
  
    <!-- google analytics code -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2225454-16']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  
  </body>

</html>
