
<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1" >
        <title>The Economics of Taste in Graphic Design</title>
        <meta name="description" content="Economics of Taste">

        <!-- jquery -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>


        <!-- fonts -->
        <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lakki+Reddy' rel='stylesheet' type='text/css'>

        <!-- styles -->
        <link rel="stylesheet" href="../css/tastestyle.css" type="text/css">

    </head>
    
    <body>


    <!-- Drawer -->

        <ul class="navigation">
            <li class="nav-item">Essay</li>
            <li class="nav-item scroll"><a href="/index.html">Why Do People Like Ugly Things?</a></li>
            <li class="nav-item">Principles</li>
            <li class="nav-item scroll"><a href="/whitespace">White Space is a Luxury Good</a></li>
            <li class="nav-item scroll"><a href="/price">Low Price, Big Type</a></li>
            <li class="nav-item scroll"><a href="/moreismore">More is More</a></li>
            <li class="nav-item">Elements</li>
        </ul>


        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger"></label>
        

        <div class="site-wrap">

        <nav>

            <ul class="nav">
                <li><span class="navtitle"><a class="scroll" href="#top">Essay</a></span></li>
                <li><a class="scroll" href="/principles.html">Principles</a></li>
                <li><a class="scroll" href="/elements.html">Elements</a></li>
            </ul>
            <a href="#" rel="../css/tastelessstyle.css" class="toggle tasteless"><object type="image/svg+xml" data="/img/icons/interupt.svg" class="toggle"></object></a>
            <a href="#" rel="../css/tastestyle.css" class="toggle taste"><object type="image/svg+xml" data="/img/icons/interupt.svg" class="toggle taste"></object></a>        

        </nav>

        <div class="contentwrapper">
            
            <headline class="col-4 group"> 
            <h1>Why Do People Like Ugly Things?</h1>
            <h2>The Economics of Taste in Graphic Design</h2>




            </headline>


            
            <div class="col-7 content group">

            
            {{ content }}
                
            </div>
        </div>

            
        </body>


    <script>
            //STYLE TOGGLE

        $(document).ready(function() { 
            $(".toggle").click(function() { 
                $("link").attr("href",$(this).attr('rel'));
                return false;
            });
        });
    </script>
        

</html>