
<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>White Space is a Luxury Good</title>
        <meta name="description" content="White Space is a Luxury Good">
        
        <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/responsivestyle.css" type="text/css">

    </head>
    
    <body>
        
        <headline class="col group"> 
        <h1>White<br>Space is<br>a Luxury<br>Good</h1>
        </headline>
        
        <div class="col content group">

        
        {{ content }}
            
        </div>
        
    </body>
</html>