
<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1" >
        <title>White Space is a Luxury Good</title>
        <meta name="description" content="White Space is a Luxury Good">

        <!-- jquery -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>


        <!-- fonts -->
        <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lakki+Reddy' rel='stylesheet' type='text/css'>

        <!-- styles -->
        <link rel="stylesheet" href="../css/tastestyle.css" type="text/css">

    </head>
    
    <body>


    <!-- Drawer -->

        <ul class="navigation">
            <li class="nav-item">Essay</li>
            <li class="nav-item scroll"><a href="/index.html">Why Do People Like Ugly Things?</a></li>
            <li class="nav-item">Principles</li>
            <li class="nav-item scroll"><a href="/whitespace">White Space is a Luxury Good</a></li>
            <li class="nav-item scroll"><a href="/price">Low Price, Big Type</a></li>
            <li class="nav-item scroll"><a href="/moreismore">More is More</a></li>
            <li class="nav-item">Elements</li>
        </ul>


        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger"></label>
        

        <div class="site-wrap">

        <nav>

            <ul class="nav">
                <li><span class="navtitle"><a class="scroll" href="/index.html">Essay</a></span></li>
                <li><a class="scroll" href="/principles.html">Principles</a></li>
                <li><a class="scroll" href="/elements.html">Elements</a></li>
            </ul>

        </nav>

        <div class="contentwrapper">
        
            <headline class="col-4 group"> 
            <h1>White Space is a Luxury Good</h1>

            <div id="graphs">

                <h2>Percentage White Space<br>per Household Income Bracket</h2>

                <h3>$45,000 to $54,999</h3>
                <div id="bracket3"></div>

                <h3>$55,000 to $64,999</h3>
                <div id="bracket4"></div>

                <h3>$65,000 to $74,999</h3>
                <div id="bracket5"></div>

                <h3>$75,000 to $84,999</h3>
                <div id="bracket6"></div>

                <h3>$85,000 to $99,999</h3>
                <div id="bracket7"></div>

                <h3>$100,000 to $149,999</h3>
                <div id="bracket9"></div>

                <h4>Additional brackets will be shown as they <br>become available in the database.</h4>

            </div>

            <div id="tags">
                <ul class="tag-box inline">
                    {% assign tags_list = site.layouttype %}  
                      {% if tags_list.first[0] == null %}
                        {% for tag in tags_list %} 
                          <li><a href="#{{ tag }}">{{ tag | capitalize }} <span>{{ site.layouttype[tag].size }}</span></a></li>
                        {% endfor %}
                      {% else %}
                        {% for tag in tags_list %} 
                          <li><a href="#{{ tag[0] }}">{{ tag[0] | capitalize }} <span>{{ tag[1].size }}</span></a></li>
                        {% endfor %}
                      {% endif %}
                    {% assign tags_list = nil %}
                    </ul>

                    <!-- {% for tag in site.categories %} 
                      <h2 id="{{ tag[0] }}">{{ tag[0] | capitalize }}</h2>
                      <ul class="post-list">
                        {% assign pages_list = tag[1] %}  
                        {% for post in pages_list %}
                          {% if post.title != null %}
                          {% if group == null or group == post.group %}
                          <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}<span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></a></li>
                          {% endif %}
                          {% endif %}
                        {% endfor %}
                        {% assign pages_list = nil %}
                        {% assign group = nil %}
                      </ul>
                    {% endfor %} -->
            </div>



            </headline>


            
            <div class="col-7 content group">

            
            {{ content }}
                
            </div>

        </div>
    </body>

    <script type="text/javascript">

    //for Income Bracket 3
    $(document).ready(function() {
        $ (function getData() {
            $.getJSON( "https://spreadsheets.google.com/feeds/cells/1IYHFa9qc4WjFLWDI2wybud7xTWcHNRMzH1x4mlhTLyE/od6/public/values/R4C15?alt=json-in-script&callback=?",

                function (data) {
            
                    console.log(data);
                    console.log(data.entry.gs$cell.$t);

                    var bracketThree = ((data.entry.gs$cell.$t) * 100).toFixed(0);
                    console.log(bracketThree);

                    $( document ).ready(function() {
                    $( "#bracket3" ).width( bracketThree+"%" )});
                    $('#bracket3').append('<p>' + bracketThree + '% </p>');

                });
        });
    });
    //end Income Bracket 3

    //for Income Bracket 4
    $(document).ready(function() {
        $ (function getData() {
            $.getJSON( "https://spreadsheets.google.com/feeds/cells/1IYHFa9qc4WjFLWDI2wybud7xTWcHNRMzH1x4mlhTLyE/od6/public/values/R4C16?alt=json-in-script&callback=?",

                function (data) {
        
                    console.log(data);
                    console.log(data.entry.gs$cell.$t);                        

                    var bracketFour = ((data.entry.gs$cell.$t) * 100).toFixed(0);
                    console.log(bracketFour);

                    $( document ).ready(function() {
                    $( "#bracket4" ).width( bracketFour+"%" )});
                    $('#bracket4').append('<p>' + bracketFour + '% </p>');

                });

        });
    });
    //end Income Bracket 4

    //for Income Bracket 5
    $(document).ready(function() {
        $ (function getData() {
            $.getJSON( "https://spreadsheets.google.com/feeds/cells/1IYHFa9qc4WjFLWDI2wybud7xTWcHNRMzH1x4mlhTLyE/od6/public/values/R4C17?alt=json-in-script&callback=?",

                function (data) {
            
                    console.log(data);
                    console.log(data.entry.gs$cell.$t);
                    
                    var bracketFive = ((data.entry.gs$cell.$t) * 100).toFixed(0);
                    console.log(bracketFive);

                    $( document ).ready(function() {
                    $( "#bracket5" ).width( bracketFive+"%" )});
                    $('#bracket5').append('<p>' + bracketFive + '% </p>');
                      
                });

        });
    });
    //end Income Bracket 5


    //for Income Bracket 6
    $(document).ready(function() {
        $ (function getData() {
            $.getJSON( "https://spreadsheets.google.com/feeds/cells/1IYHFa9qc4WjFLWDI2wybud7xTWcHNRMzH1x4mlhTLyE/od6/public/values/R4C18?alt=json-in-script&callback=?",

                function (data) {
            
                    console.log(data);
                    console.log(data.entry.gs$cell.$t);
                    
                    var bracketSix = ((data.entry.gs$cell.$t) * 100).toFixed(0);
                    console.log(bracketSix);

                    $( document ).ready(function() {
                    $( "#bracket6" ).width( bracketSix+"%" )});
                    $('#bracket6').append('<p>' + bracketSix + '% </p>');
                      
                });

        });
    });
    //end Income Bracket 6

    //for Income Bracket 7
    $(document).ready(function() {
        $ (function getData() {
            $.getJSON( "https://spreadsheets.google.com/feeds/cells/1IYHFa9qc4WjFLWDI2wybud7xTWcHNRMzH1x4mlhTLyE/od6/public/values/R4C19?alt=json-in-script&callback=?",

                function (data) {
            
                    console.log(data);
                    console.log(data.entry.gs$cell.$t);

                    
                    var bracketSeven = ((data.entry.gs$cell.$t) * 100).toFixed(0);
                    console.log(bracketSeven);

                    $( document ).ready(function() {
                    $( "#bracket7" ).width( bracketSeven+"%" )});
                    $('#bracket7').append('<p>' + bracketSeven + '% </p>');

                });

        });
    });
    //end Income Bracket 7

    //for Income Bracket 9
    $(document).ready(function() {
        $ (function getData() {
            $.getJSON( "https://spreadsheets.google.com/feeds/cells/1IYHFa9qc4WjFLWDI2wybud7xTWcHNRMzH1x4mlhTLyE/od6/public/values/R4C21?alt=json-in-script&callback=?",

                function (data) {
        
                    console.log(data);
                    console.log(data.entry.gs$cell.$t);                  

                    var bracketNine = ((data.entry.gs$cell.$t) * 100).toFixed(0);
                    console.log(bracketNine);

                    $( document ).ready(function() {
                    $( "#bracket9" ).width( bracketNine+"%" )});
                    $('#bracket9').append('<p>' + bracketNine + '% </p>');          

                });

        });
    });

    //mobile friendly hover

    $(document).ready(function() {
    $('.overlayContainer').bind('touchstart touchend', function(e) {
        e.preventDefault();
        $(this).toggleClass('hover_effect');
    });
    });

    $(document).ready(function() {
    $('.overlayContainerPrice').bind('touchstart touchend', function(e) {
        e.preventDefault();
        $(this).toggleClass('hover_effect');
    });
    });




</script>

</html>